<!-- add login functionality -->

<div class="site-wrapper">
  <%= render :partial => "shared/header" %>
    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          
            <%= link_to "Register a New Restaurant", new_restaurant_path %>
          
        </div>

      </div>

    </div>

</div>
