<!-- add login functionality -->

<div class="site-wrapper">
  <%= render :partial => "shared/header" %>
    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <% @restaurants.each do |restaurant| %>
            <%= link_to restaurant.name, restaurant_items_path(restaurant) %>
          <% end  %>
        </div>

      </div>

    </div>

</div>
