<%= render :partial => "shared/individual_header" %>

<div class="content-wrapper formStyle">
	<table class="table">
		<thead>
			<tr>
				<th>Category:</th>
				<th>Pies:</th>
			</tr>

			<tbody>
				<tr>
					<td><%= @category.name %></td>
					<td>
						<% @category.items.each do |item| %>|
							<%= link_to item.title, admin_restaurant_item_path(id: item.id, restaurant_slug: @restaurant.slug) %> |
						<% end %>
					</td>
				</tr>
			</tbody>
		</thead>
	</table>

	<%= link_to 'All Categories', admin_restaurant_categories_path(restaurant_slug: @restaurant.slug) %>
</div>
